

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100%;
    padding-top: 0px;
    
}

.header {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    background-color: #1F2937;

}

.logo,
.header-filler {
    height: 50px;
    width: 50px;
    margin-right: auto;
    
    
}
.heading {
    font-size: 30px;
    font-weight: bold;
    color: white;
    
    
}
.body1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-bottom: 20px;
    flex: 1;
}

.paragraph-left {
    padding: 0 50px 0 50px;
    text-align: left;
    max-width: 300px;
}

.paragraph-left-header {
    font-size: 28px;
    color: white;
}

.paragraph-left-body {
    font-size: 28;
    color: white;
}

.button {
    background: #3882f6;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    border: hidden;
    color: white;
}

.image-header {
    flex: 1 1 20px;
    max-width: 200px;
    max-height: 200px;
}

.body2{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    
    
}

.doberman-images {
    display: flex;
    margin: 20px;
    gap: 50px;
    flex: 1;
    
    flex-wrap: wrap;
}

.picture-header{
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.image {
    flex: 1 1 20px;
    max-width: 200px;
    max-height: 200px;
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    border-radius: 15px;

}

.body3 {
    padding: 40px 20px 40px 20px;
    display: flex;
    gap: 10%;
    background-color: #C6F0FF;
    justify-content: space-evenly;
}
.testimonials {
    flex: 1 1 20%;
    max-width: 200px;
    font-size: 25px;
    
}

.body4 {
    padding: 50px 100px;
}

.body4 .container {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.body4 .container .text {
    flex: 2 1 auto;
}


.body4 .container .text .header {
    font-size: 15px;
    color: white;
    background-color: #3882f6;
    margin-left: auto;
}

.body4 .container .text .body {
    font-size: 12px;
    color: white;
}

.body4 .container .button {
    border: 2px solid;
    border-color: white;
    margin-right: 10%;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;

}

.footer.text {
    font-size: 15px;
}